$color-primary: #CD5939;
$color-primary-dark: #9E5050;
$color-secondary: #1C3236;
$color-secondary-dark: #1E1818;

$color-accent: #ffc;
$color-grey-light: #fefefe;
$color-grey-hover: #919191;
$color-grey-accent: #434343;

$color-border: rgba(0,0,0,0.1);
$color-error: #FF3838;
$color-white: #FFF;

$color-headings: $color-white;
$color-body-font: $color-white;
