// Mixins

//-------------------------------------------------
// Break Points
//-------------------------------------------------

@mixin break-min($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin break-min-max($min, $max) {
  @media screen and (min-width: $min) and (max-width: ($max - 1px)) {
    @content;
  }
}

@mixin break-max($breakpoint) {
  @media screen and (max-width: ($breakpoint - 1px)) {
    @content;
  }
}

//-------------------------------------------------
// Spacer
//-------------------------------------------------

@mixin spacer_top {
  margin-top: $spacer-small;

  @include break-min($sm) {
    margin-top: $spacer-medium;
  }

  @include break-min($md) {
    margin-top: $spacer-large;
  }
}

@mixin spacer_bottom {
  margin-bottom: $spacer-small;

  @include break-min($sm) {
    margin-bottom: $spacer-medium;
  }

  @include break-min($md) {
    margin-bottom: $spacer-large;
  }
}

@mixin spacer {
  @include spacer_top;
  @include spacer_bottom;
}

@mixin spacer_padding_top {
  padding-top: $spacer-small;

  @include break-min($sm) {
    padding-top: $spacer-medium;
  }

  @include break-min($md) {
    padding-top: $spacer-large;
  }
}

@mixin spacer_padding_bottom {
  padding-bottom: $spacer-small;

  @include break-min($sm) {
    padding-bottom: $spacer-medium;
  }

  @include break-min($md) {
    padding-bottom: $spacer-large;
  }
}

@mixin spacer_body {
  @include spacer_padding_top;
  @include spacer_padding_bottom;
}

//-------------------------------------------------
// Inner
//-------------------------------------------------

@mixin inner_padding {
  padding-right: $gutter-small;
  padding-left: $gutter-small;

  @include break-min($sm) {
    padding-right: $gutter-medium;
    padding-left: $gutter-medium;
  }

  @include break-min($lg) {
    padding-right: $gutter-large;
    padding-left: $gutter-large;
  }
}

@mixin inner {
  @include inner_padding;
  max-width: $global-inner + ($gutter-large * 2);
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}


//-------------------------------------------------
// Listing
//-------------------------------------------------

@mixin listing_grid {
  @include structural_ul;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $grid-gap;

  @include break-min($sm) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include break-min($md) {
    grid-template-columns: repeat(4, 1fr);
  }
}

//-------------------------------------------------
// Utilities
//-------------------------------------------------

@mixin absolute_fill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin fixed_fill {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin restrained_width {
  margin-right: auto;
  margin-left: auto;
  max-width: $restrained-width;
}

@mixin ignore_restrained_width {
  @include break-min($lg) {
    margin-left: calc(-100vw / 2 + #{$restrained-width / 2});
    margin-right: calc(-100vw / 2 + #{$restrained-width / 2});
  }
}

@mixin no_margin_padding {
  margin: 0;
  padding: 0;
}

@mixin no_bullets {
  list-style: none;
}

@mixin structural_ul {
  @include no_margin_padding;
  list-style-type: none;
}

@mixin object_fit_cover {
  object-fit: cover;
  // font-family: 'object-fit: cover;';
}

@mixin object_fit_contain {
  object-fit: contain;
  // font-family: 'object-fit: contain;';
}
